<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <!-- requires QtNetwork for the tls folder -->
    <Fragment>
        <ComponentGroup Id="CMP_QtNetworkSChannel">
            <Component Id="cmpff7c3ae205b34739b865426297afe2ca" Directory="dirDA1287EF18298l8FF888DEAD6E77198F" Guid="{DD510E00-FFB3-47A2-9FDC-3A9C37AC0C4B}">
                <File Id="filA3C61ACD37C546E7AAC6C21A3954E364" KeyPath="yes" Source="$(var.sourceDir)\tls\qschannelbackend.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
