<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="APPLICATIONFOLDER">
            <Directory Id="dirDA1287EF18298l8FF888DEAD6E77198F" Name="tls" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="CMP_QtNetwork">
            <Component Id="cmp5E4F2A3C52FA321FD438E945EFEDD470" Directory="APPLICATIONFOLDER" Guid="{26EE85EA-E7EE-4F8B-A3B8-F4CDB02BBBDC}">
                <File Id="fil2856FC368078AF6867469D9DB96D9881" KeyPath="yes" Source="$(var.sourceDir)\Qt6Network.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
