<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="APPLICATIONFOLDER">
            <Directory Id="dirF8AAB67AB3E544FABDA0079E5CF0EBD6" Name="qml">
                <Directory Id="dira4035ec437154bc0a3d15e1607801441" Name="Qt">
                    <Directory Id="dirfb3e0947d3eb4b28bc06cf3dbea81006" Name="labs">
                        <Directory Id="dir78d34247a65048b9985c61c52b22d4cd" Name="platform" />
                    </Directory>
                </Directory>
                <Directory Id="dirD0ACD80F8D6B292E8F9A63FDD093ADEA" Name="QtQml">
                    <Directory Id="dir64fbe422fdcb4e939348c0b1c76d3144" Name="Base" />
                    <Directory Id="dir2947D19C6E3A3D8C7D629D9FC6609CAB" Name="Models" />
                    <Directory Id="dir1e040124322e478093858d60701ea66f" Name="WorkerScript" />
                </Directory>
                <Directory Id="dir5D365A66302EE436472B9F8DBECBCF8E" Name="QtQuick">
                    <Directory Id="dir337139ADA00C7E3074A6AA83348E4CB9" Name="Controls">
                        <Directory Id="dirb92d4680934347518c33e7bcd7fd444b" Name="impl" />
                        <Directory Id="dir386201E5D3261DCFE7C4AA8FCCCF1ECF" Name="Fusion">
                            <Directory Id="dirdf150229471b472da8033b9babbaf295" Name="impl" />
                        </Directory>
                        <Directory Id="dirc6c1186c5ed943749f364e018a09ee7f" Name="Basic">
                            <Directory Id="dir0879dd125ae94bcda9ae1d7b94d33206" Name="impl" />
                        </Directory>
                    </Directory>
                    <Directory Id="dirfd14cc96ba104ef5b353c6cdeed7eda0" Name="Dialogs">
                        <Directory Id="dir167b0013e7354de699eeb6457fdf1334" Name="quickimpl"/>
                    </Directory>
                    <Directory Id="dirAB2260AC3D26DDA9D0165F8E083B172D" Name="Window" />
                    <Directory Id="dirD93798FEA1BD2BE0A48850A167BC6185" Name="Templates" />
                    <Directory Id="dirF50BAAB4DA30D72CC26F24C6AD2BA3DA" Name="Layouts" />
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="CMP_QtQuick">

            <!-- QtQuick -->

            <!-- d3dcompiler_47 seems to be required no longer at runtime. Shaders are compiled by RHI during build -->
            <!-- <Component Id="cmpD9813FF6605FF898E356A6DE2EC73287" Directory="APPLICATIONFOLDER" Guid="{85255D69-0A38-4E2E-872C-13E465B5332D}"> -->
            <!--     <File Id="fil229E82423046B1FBB827A6C8F790C1B9" KeyPath="yes" Source="$(var.sourceDir)\d3dcompiler_47.dll" /> -->
            <!-- </Component> -->

            <!-- Qt6OpenGL.dll is a hard dependency of Qt6Quick.dll -->
            <Component Id="cmpbdb1595470b648d9960e2064607c8288" Directory="APPLICATIONFOLDER" Guid="{2226ffd8-0ca1-4778-ba4c-3425a90783ee}">
                <File Id="fil7d018f6d0a1a41138d83c7f0dbf75ae5" KeyPath="yes" Source="$(var.sourceDir)\Qt6OpenGL.dll" />
            </Component>

            <Component Id="cmp69ddf494a7894647800bb651a6860f87" Directory="APPLICATIONFOLDER" Guid="{30d33136-0c8c-4cf6-8c94-78eb25b8935f}">
                <File Id="fil53be4a7ab3374dcb8180163ba8423a48" KeyPath="yes" Source="$(var.sourceDir)\opengl32sw.dll" />
            </Component>
            <Component Id="cmpef4c181a9716409e9dea618f0b0a1df8" Directory="APPLICATIONFOLDER" Guid="{C4338152-C68F-45FA-96A4-6C7C2D8D901F}">
                <File Id="fil770F62FAEF7448E4B809883F7586D2C3" KeyPath="yes" Source="$(var.sourceDir)\Qt6QuickWidgets.dll" />
            </Component>
            <Component Id="cmp5BF9D1345C7D33B31400744F901C1CD4" Directory="APPLICATIONFOLDER" Guid="{5E9F2186-8D6C-4F18-9DC2-4C358F43A2EB}">
                <File Id="filB483FFE7EE9B698FA1E4EDF8C4E6819D" KeyPath="yes" Source="$(var.sourceDir)\Qt6Qml.dll" />
            </Component>
            <Component Id="cmp47ad808eaa584ffab4979ce2e3911289" Directory="APPLICATIONFOLDER" Guid="{1941974f-a39a-4449-8c2c-f357bde4bcbc}">
                <File Id="fil9d7dc08391b94e3f9cc167d5d1bc6525" KeyPath="yes" Source="$(var.sourceDir)\Qt6QmlMeta.dll" />
            </Component>
            <Component Id="cmp66F9D1345C7D33B31400744F901C1CD4" Directory="APPLICATIONFOLDER" Guid="{666F2186-12AB-4F19-9DC2-4C358F43A2EB}">
                <File Id="fil6473F8E7EE9B698FA1E4EDF8C4E6819D" KeyPath="yes" Source="$(var.sourceDir)\Qt6QmlModels.dll" />
            </Component>
            <Component Id="cmp4588e213ebce4a01b103e66541931860" Directory="APPLICATIONFOLDER" Guid="{98b1e6ec-05d5-4109-902c-1fe8ded03d32}">
                <File Id="fil14dacec236674a84af61e8eaa646d582" KeyPath="yes" Source="$(var.sourceDir)\Qt6QmlWorkerScript.dll" />
            </Component>
            <Component Id="cmpFBF38C06165DE2A40DECB83BED73F618" Directory="APPLICATIONFOLDER" Guid="{E17DB523-3E2E-48FB-BDCD-2A67B6390825}">
                <File Id="fil1E5C95F048C6F68EAED5DBDE5AE50747" KeyPath="yes" Source="$(var.sourceDir)\Qt6Quick.dll" />
            </Component>
            <Component Id="cmp7D14CE53D43337A67E414BC5C9CAAA87" Directory="APPLICATIONFOLDER" Guid="{D168C37B-E5F8-4119-BB01-6334C1B9FC72}">
                <File Id="fil2DEE514DB59E4ED7ADD56AAB24D56AFD" KeyPath="yes" Source="$(var.sourceDir)\Qt6QuickControls2.dll" />
            </Component>
            <Component Id="cmp819f7646266447ee8f966ca8ac36680a" Directory="APPLICATIONFOLDER" Guid="{259041f4-79a8-4a3a-8bad-6e690757828d}">
                <File Id="filebb738832d7341babf377b7e92ba0e92" KeyPath="yes" Source="$(var.sourceDir)\Qt6QuickControls2Impl.dll" />
            </Component>
            <Component Id="cmp7ce4634a7cb9412dbe09a3c5f6c5cc59" Directory="APPLICATIONFOLDER" Guid="{172c5b5c-e5eb-4efa-a17c-b21d6477466d}">
                <File Id="fil88bcc28df5784c2aa38e27d5dcfb4141" KeyPath="yes" Source="$(var.sourceDir)\Qt6QuickLayouts.dll" />
            </Component>
            <Component Id="cmp5A63D4DB525F2A6B2474E3CA324B1016" Directory="APPLICATIONFOLDER" Guid="{B790582F-486C-44B8-AA82-966CDEB39C7D}">
                <File Id="filACA690FDCBDC9C544D009F0B0AFC5CD0" KeyPath="yes" Source="$(var.sourceDir)\Qt6QuickTemplates2.dll" />
            </Component>
            <Component Id="cmpf23935024bbc44feb86cc253257b05ad" Directory="APPLICATIONFOLDER" Guid="{3cc37915-8d97-48f3-a05b-3c626423900c}">
                <File Id="fil5439040ed6434b7a8cff9bb5b450a2ed" KeyPath="yes" Source="$(var.sourceDir)\Qt6QuickControls2Basic.dll" />
            </Component>
            <Component Id="cmp2691fa3189a74075b3ac16f3d2e3f107" Directory="APPLICATIONFOLDER" Guid="{26371b2c-30fa-4e14-83dd-aa0374abe66f}">
                <File Id="fil342b8a43c27440af9d4ebe0104270701" KeyPath="yes" Source="$(var.sourceDir)\Qt6QuickControls2Fusion.dll" />
            </Component>
            <Component Id="cmpf3007e57a79945948521ddef7252a0fd" Directory="APPLICATIONFOLDER" Guid="{e09e5ba5-b20a-4ca8-a3c8-21dde62b7f8c}">
                <File Id="fil6c75443dfdf046829e376faf08ddd2a5" KeyPath="yes" Source="$(var.sourceDir)\Qt6QuickControls2FusionStyleImpl.dll" />
            </Component>
            <Component Id="cmpB1356AF736050F5171ABB461916B34EF" Directory="dirD0ACD80F8D6B292E8F9A63FDD093ADEA" Guid="{DD22F826-CCDA-46E5-A357-5D7B2DF5C340}">
                <File Id="filBD1B90C60C4F58C5E61AB6A12F206A5E" KeyPath="yes" Source="$(var.sourceDir)\qml\QtQml\qmldir" />
            </Component>
            <Component Id="cmp816FBCBAF2CA4097B1EE6B5F71751149" Directory="dir64fbe422fdcb4e939348c0b1c76d3144" Guid="{B52D230E-534C-4E7E-BD9C-A33E836DDC4A}">
                <File Id="fil28ED509CF6D34561A20CF00AD7713B92" KeyPath="yes" Source="$(var.sourceDir)\qml\QtQml\qmlplugin.dll" />
            </Component>
            <Component Id="cmp97DD77B3AEA82C1666AC99FB8428D177" Directory="dir2947D19C6E3A3D8C7D629D9FC6609CAB" Guid="{76B206CA-EB77-4E69-8E92-5AC101538F5C}">
                <File Id="filFF9954ECD746585C2B03DA49C7D34A64" KeyPath="yes" Source="$(var.sourceDir)\qml\QtQml\Models\modelsplugin.dll" />
            </Component>
            <Component Id="cmp2E82557C6C132F44A59C7F9F860325F1" Directory="dir2947D19C6E3A3D8C7D629D9FC6609CAB" Guid="{01408BAD-80DB-41BE-8FFF-8C8392DD0BB0}">
                <File Id="filA0361252C926A94E66DF78C5E8E80399" KeyPath="yes" Source="$(var.sourceDir)\qml\QtQml\Models\qmldir" />
            </Component>
            <Component Id="cmp91f97669ee1240fa9409bffc5e910ae1" Directory="dir1e040124322e478093858d60701ea66f" Guid="{0c583498-f1b8-48be-b6ea-bef54df9debd}">
                <File Id="fil68cccf092d924cc7b1a81e4c1ac731eb" KeyPath="yes" Source="$(var.sourceDir)\qml\QtQml\WorkerScript\workerscriptplugin.dll" />
            </Component>
            <Component Id="cmp77dcd3990cff46d390029541edce6d2a" Directory="dir1e040124322e478093858d60701ea66f" Guid="{ac3f9c9a-dc22-49ac-9295-b0609205c7b0}">
                <File Id="fil0abc572e7b204bbab389ae921da19c15" KeyPath="yes" Source="$(var.sourceDir)\qml\QtQml\WorkerScript\qmldir" />
            </Component>
            <Component Id="cmpEB175272992940B07DBBBDABE99590CE" Directory="dir337139ADA00C7E3074A6AA83348E4CB9" Guid="{7A81858A-C796-45C9-B24B-6E0752F16257}">
                <File Id="fil55489C6A5CCD65ED0E89A916BF304D5A" KeyPath="yes" Source="$(var.sourceDir)\qml\QtQuick\Controls\qmldir" />
            </Component>
            <Component Id="cmpAA65F0A1EC90CAA2722E4CC7946A7905" Directory="dir337139ADA00C7E3074A6AA83348E4CB9" Guid="{4F37B55B-1DD5-4FBA-BFDF-D29B42FB3239}">
                <File Id="fil2A4D072CEA660038C4DFE51DA7272750" KeyPath="yes" Source="$(var.sourceDir)\qml\QtQuick\Controls\qtquickcontrols2plugin.dll" />
            </Component>
            <Component Id="cmp5d18c6f1e2e74921b91d3a42d748df0a" Directory="dirc6c1186c5ed943749f364e018a09ee7f" Guid="{c89f34f4-3d09-4882-b18e-560788f8ea5c}">
                <File Id="fildba579d0f869450aa08ef19482fd9726" KeyPath="yes" Source="$(var.sourceDir)\qml\QtQuick\Controls\Basic\qmldir" />
            </Component>
            <Component Id="cmp552a54d0b48848299af366d4a2f3c262" Directory="dirc6c1186c5ed943749f364e018a09ee7f" Guid="{39089584-7538-49fb-b9a5-497f1ed201c7}">
                <File Id="fil3899fddf2f07478491b58b257a7d1fba" KeyPath="yes" Source="$(var.sourceDir)\qml\QtQuick\Controls\Basic\qtquickcontrols2basicstyleplugin.dll" />
            </Component>
            <Component Id="cmp2763184d90774a08b3be28ab7337e8d2" Directory="dir0879dd125ae94bcda9ae1d7b94d33206" Guid="{a7b04afa-a03a-48d4-b495-a9c532858de8}">
                <File Id="fil313231f222ad42f184e4938625ff32d7" KeyPath="yes" Source="$(var.sourceDir)\qml\QtQuick\Controls\Basic\impl\qmldir" />
            </Component>
            <Component Id="cmp5f323cf6e2a443ba81c0f6f5a9073120" Directory="dir0879dd125ae94bcda9ae1d7b94d33206" Guid="{89ce02c4-5d14-4f2e-a79f-57789353b770}">
                <File Id="fil193ecec68d6b409cacf87e5d52e56ee4" KeyPath="yes" Source="$(var.sourceDir)\qml\QtQuick\Controls\Basic\impl\qtquickcontrols2basicstyleimplplugin.dll" />
            </Component>
            <Component Id="cmp31EB1C4E6899967081225FD141AF750B" Directory="dir386201E5D3261DCFE7C4AA8FCCCF1ECF" Guid="{5EA5A884-96FC-44B1-9EC5-0EE8182E3289}">
                <File Id="filE97DE985C6F76FF9A56244B1DE233A2D" KeyPath="yes" Source="$(var.sourceDir)\qml\QtQuick\Controls\Fusion\qmldir" />
            </Component>
            <Component Id="cmp5aaf74a4be0b45409d75b606563a5442" Directory="dirb92d4680934347518c33e7bcd7fd444b" Guid="{c0578dd1-0b7e-4337-87a4-6707150a4ae4}">
                <File Id="fil98d7930979a84269addb295113502e12" KeyPath="yes" Source="$(var.sourceDir)\qml\QtQuick\Controls\impl\qmldir" />
            </Component>
            <Component Id="cmp9e2beeabd0564ce4ad2b91b6097d87c7" Directory="dirb92d4680934347518c33e7bcd7fd444b" Guid="{4d61a1b7-cda6-4a72-9a19-8f0665971851}">
                <File Id="fil442790bbe8fb4f0291f7696e943e96cf" KeyPath="yes" Source="$(var.sourceDir)\qml\QtQuick\Controls\impl\qtquickcontrols2implplugin.dll" />
            </Component>
            <Component Id="cmp94E8A7BA3AEF005482C882B38CDEC832" Directory="dir386201E5D3261DCFE7C4AA8FCCCF1ECF" Guid="{FAC361D7-FEFD-4A70-8D43-4A769A735431}">
                <File Id="filCF253A7238F255C257203B73494349B0" KeyPath="yes" Source="$(var.sourceDir)\qml\QtQuick\Controls\Fusion\qtquickcontrols2fusionstyleplugin.dll" />
            </Component>
            <Component Id="cmpdeba6c4fa2df4bc9a0190c6f29d1f28c" Directory="dirdf150229471b472da8033b9babbaf295" Guid="{1e2f769b-50a0-43b1-a1a9-157da63f33be}">
                <File Id="file22188ab1f8546ad949fcf33b60dc2d3" KeyPath="yes" Source="$(var.sourceDir)\qml\QtQuick\Controls\Fusion\impl\qmldir" />
            </Component>
            <Component Id="cmp0086eed5bba24bfd90a0805da503c9de" Directory="dirdf150229471b472da8033b9babbaf295" Guid="{3d971704-9a15-440c-bb4d-8d7302d7c733}">
                <File Id="fil39819419641b42c3aab92d0a32140fb3" KeyPath="yes" Source="$(var.sourceDir)\qml\QtQuick\Controls\Fusion\impl\qtquickcontrols2fusionstyleimplplugin.dll" />
            </Component>
            <Component Id="cmp98B6E4C0E7B6E8509B4BD7505B8E4CBD" Directory="dirF50BAAB4DA30D72CC26F24C6AD2BA3DA" Guid="{006DCB58-2A3F-4926-9C02-5BEC6451CF93}">
                <File Id="filB8F723299BFCA2023BF99D9F4D084D9A" KeyPath="yes" Source="$(var.sourceDir)\qml\QtQuick\Layouts\qmldir" />
            </Component>
            <Component Id="cmp23208D9D1D4B82A37DB4DCC19562F8EF" Directory="dirF50BAAB4DA30D72CC26F24C6AD2BA3DA" Guid="{CC786A75-3A5A-4E5C-90B4-546728452AA4}">
                <File Id="fil33C52B177288BEE469C24363023ACA84" KeyPath="yes" Source="$(var.sourceDir)\qml\QtQuick\Layouts\qquicklayoutsplugin.dll" />
            </Component>
            <Component Id="cmpDFF59FDCD59811A3F17400C7849324DF" Directory="dirD93798FEA1BD2BE0A48850A167BC6185" Guid="{2AE22DE3-8B98-4C01-B107-0701F8B95279}">
                <File Id="filE0A7DBFCDED7DD14143C6D7B4C735700" KeyPath="yes" Source="$(var.sourceDir)\qml\QtQuick\Templates\qmldir" />
            </Component>
            <Component Id="cmp43CA7735EF3E6FA1EF161D4F566E1C35" Directory="dirD93798FEA1BD2BE0A48850A167BC6185" Guid="{C3545A70-0F98-45BE-9B2A-AF86E37BC19F}">
                <File Id="fil5FB6976B6E97CD66D7A6B1901B668F94" KeyPath="yes" Source="$(var.sourceDir)\qml\QtQuick\Templates\qtquicktemplates2plugin.dll" />
            </Component>
            <Component Id="cmp2F3C713F71269124DFA08AC0D157DF4E" Directory="dirAB2260AC3D26DDA9D0165F8E083B172D" Guid="{243A9C63-197F-4395-A1B1-89C5A7C93414}">
                <File Id="fil3D1AA6A7AE028C8835A7F4200AB90AEE" KeyPath="yes" Source="$(var.sourceDir)\qml\QtQuick\Window\qmldir" />
            </Component>
            <Component Id="cmp13E86A052399B1ECE9CE3C00FF1F2B9A" Directory="dirAB2260AC3D26DDA9D0165F8E083B172D" Guid="{6E906547-20F0-4C27-ABCD-AE92A4EC14E8}">
                <File Id="filF86E1ECA4D9C681606AF5084CF3A4CAB" KeyPath="yes" Source="$(var.sourceDir)\qml\QtQuick\Window\quickwindowplugin.dll" />
            </Component>
            <Component Id="cmpD0FA55FF5DEDEB6B0E1B2D21F8259919" Directory="dir5D365A66302EE436472B9F8DBECBCF8E" Guid="{74DC7F5C-DA35-44F8-BDA6-BE69ED21B19D}">
                <File Id="fil69EDACF9BB8A974031FF3BF9C2F167A1" KeyPath="yes" Source="$(var.sourceDir)\qml\QtQuick\qmldir" />
            </Component>
            <Component Id="cmp3C417FA940194A530A5F5710779A0B7A" Directory="dir5D365A66302EE436472B9F8DBECBCF8E" Guid="{4235D243-67B1-492E-8505-3FFE237C423D}">
                <File Id="fil3B037EE2E93DE6AC2B5C139E2C1C8AA1" KeyPath="yes" Source="$(var.sourceDir)\qml\QtQuick\qtquick2plugin.dll" />
            </Component>

        </ComponentGroup>
    </Fragment>
</Wix>
